html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Background image settings */
    background: url('/src/assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Adding an overlay for opacity effect */
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/src/assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    /* 30% opacity */
    z-index: -1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
    height: 100%;
    overflow: auto;
}

.scrollbox {
    overflow-y: scroll;
}

.scrollbox::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.scrollbox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}